Repository anIcedAntFA/my-site: changes, and which lefthook commands are due for each by the changed paths.
All: format, linter

format:
  run: npx prettier --check {staged_files}

linter:
  run: npx eslint {staged_files}

:sparkles: feat(theme,ui): init theme panda-css, init button and code recipes
  eslint.config.mjs
  panda.config.ts
  src/layout/Layout.astro
  src/theme/conditions.ts
  src/theme/global-css.ts
  src/theme/global-variables.ts
  src/theme/keyframes.ts
  src/theme/recipes/index.ts
  src/theme/recipes/inline-code.ts
  src/theme/semantic-tokens/colors.ts
  src/theme/semantic-tokens/index.ts
  src/theme/semantic-tokens/shadows.ts
  src/theme/slot-recipes/button.ts
  src/theme/slot-recipes/index.ts
  src/theme/text-styles.ts
  src/theme/tokens/borders.ts
  src/theme/tokens/colors.ts
  src/theme/tokens/durations.ts
  src/theme/tokens/easings.ts
  src/theme/tokens/fonts.ts
  src/theme/tokens/index.ts
  src/theme/tokens/z-index.ts
  src/theme/utilities.ts
  src/ui/Welcome.astro
  src/ui/button.tsx
  src/ui/inline-code.tsx
  src/ui/sonehayhoi.tsx
Due: format, linter

:lipstick: style(theme): update theme with tokens, recipes, css utils
  bun.lock
  package.json
  src/layout/Layout.astro
  src/theme/global-css.ts
  src/theme/recipes/inline-code.ts
  src/theme/semantic-tokens/colors.ts
  src/theme/slot-recipes/button.ts
  src/theme/tokens/colors.ts
  src/ui/Welcome.astro
  src/ui/button.tsx
  src/ui/inline-code.tsx
Due: format, linter

:lipstick: style(theme): update theme with tokens, recipes
  bun.lock
  package.json
  src/lib/.gitkeep
  src/lib/style/cn.lib.ts
  src/theme/global-css.ts
  src/theme/slot-recipes/button.ts
  src/theme/text-styles.ts
  src/ui/Welcome.astro
  src/ui/button.tsx
  src/ui/inline-code.tsx
Due: format, linter

:sparkles: feat(ui): build back to top button
  eslint.config.mjs
  panda.config.ts
  public/arrow-up.svg
  src/assets/arrow-up.svg
  src/layout/Layout.astro
  src/theme/breakpoints.ts
  src/theme/keyframes.ts
  src/theme/tokens/assets.ts
  src/theme/tokens/index.ts
  src/ui/back-to-top-button.tsx
Due: format, linter

:lipstick: style(ui): update back to top button style, add icon recipe
  src/theme/keyframes.ts
  src/theme/recipes/icon.ts
  src/theme/recipes/index.ts
  src/ui/back-to-top-button.tsx
Due: format, linter

:sparkles: feat(theme,ui,content): init markdown content, add link recipe, create md text link
  .gitignore
  astro.config.mjs
  bun.lock
  eslint.config.mjs
  package.json
  panda.config.ts
  plugin/remark/external-link.ts
  plugin/remark/index.ts
  public/external-link.svg
  src/assets/external-link.svg
  src/config/.gitkeep
  src/config/component.config.ts
  src/content.config.ts
  src/content/blog/my-go-to-css-pseudo-element-use-cases/image/vegetables-card-thumbnail.jpg
  src/content/blog/my-go-to-css-pseudo-element-use-cases/index.mdx
  src/layout/Layout.astro
  src/layout/base-layout.astro
  src/layout/post-detail-layout.astro
  src/lib/text/index.ts
  src/lib/text/is-absolute-url.lib.ts
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/theme/conditions.ts
  src/theme/global-css.ts
  src/theme/recipes/index.ts
  src/theme/recipes/link.ts
  src/theme/semantic-tokens/colors.ts
  src/theme/tokens/assets.ts
  src/ui/Welcome.astro
  src/ui/markdown/index.ts
  src/ui/markdown/md-text-link.astro
  tsconfig.json
Due: format, linter

:sparkles: feat(theme,ui): init prose recipe, add md paragraph for markdown content
  astro.config.mjs
  docs/TYPOGRAPHY_SYSTEM_SUMMARY.md
  plugin/remark/drop-cap-paragraph.ts
  plugin/remark/index.ts
  src/config/component.config.ts
  src/pages/prose-demo.astro
  src/theme/recipes/index.ts
  src/theme/recipes/prose.ts
  src/theme/semantic-tokens/colors.ts
  src/theme/text-styles.ts
  src/theme/tokens/index.ts
  src/theme/tokens/lineHeights.ts
  src/ui/markdown/index.ts
  src/ui/markdown/md-paragraph.astro
  src/ui/markdown/md-text-link.astro
  src/ui/prose.astro
Due: format, linter

:lipstick: style(ui,theme): update paragraph, plugins and prose recipe
  plugin/remark/drop-cap-paragraph.ts
  src/config/component.config.ts
  src/content/blog/my-go-to-css-pseudo-element-use-cases/index.mdx
  src/layout/post-detail-layout.astro
  src/lib/style/calc.lib.ts
  src/theme/recipes/index.ts
  src/theme/recipes/prose-bu.ts
  src/theme/recipes/prose.ts
  src/theme/text-styles.ts
  src/ui/markdown/index.ts
  src/ui/markdown/md-paragraph.astro
  src/ui/markdown/md-text-link.astro
  src/ui/prose.astro
Due: format, linter

:bug: fix(ci): update invalidate cache condition panda-css
  .github/workflows/ci.yml
Due: format

:sparkles: feat(ui,theme): add md anchor heading ui, heading prose recipe, lib and plugins
  astro.config.mjs
  docs/TYPOGRAPHY_SYSTEM_SUMMARY.md
  plugin/rehype/index.ts
  plugin/rehype/sections-for-headings.ts
  public/svg/arrow-up.svg
  public/svg/external-link.svg
  public/svg/hash.svg
  public/svg/link.svg
  src/config/component.config.ts
  src/content/blog/my-go-to-css-pseudo-element-use-cases/index.mdx
  src/hook/use-copy-to-clipboard.ts
  src/lib/text/copy-to-clipboard.lib.ts
  src/lib/text/get-url-from-id.lib.ts
  src/lib/text/index.ts
  src/theme/recipes/icon.ts
  src/theme/recipes/prose.ts
  src/theme/tokens/assets.ts
  src/ui/markdown/index.ts
  src/ui/markdown/md-anchor-heading/copy-link-button.tsx
  src/ui/markdown/md-anchor-heading/md-anchor-heading-2.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading-3.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading-4.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading.astro
  tsconfig.json
Due: format, linter

:bug: fix(ui,hook): resolve pull request comments
  src/hook/use-copy-to-clipboard.ts
  src/ui/markdown/md-anchor-heading/copy-link-button.tsx
Due: format, linter

:sparkles: feat(theme): add prose recipe strong, emphasis, lists, inlined code
  src/config/component.config.ts
  src/theme/recipes/prose.ts
  src/ui/markdown/md-text-link.astro
Due: format, linter

:sparkles: feat(theme): add prose recipe blockquote
  astro.config.mjs
  plugin/remark/block-quotation-site-url.ts
  plugin/remark/index.ts
  plugin/remark/inlined-quotation.ts
  public/svg/quote-double-close.svg
  public/svg/quote-double-open.svg
  src/content/blog/my-go-to-css-pseudo-element-use-cases/index.mdx
  src/layout/post-detail-layout.astro
  src/theme/recipes/prose.ts
  src/theme/tokens/assets.ts
Due: format, linter

:lipstick: style(theme,plugins): add highlight, kbd, divider, checkbox and table recipes
  astro.config.mjs
  bun.lock
  package.json
  plugin/rehype/index.ts
  plugin/remark/index.ts
  plugin/remark/text-highlight.ts
  src/config/component.config.ts
  src/content/blog/my-go-to-css-pseudo-element-use-cases/index.mdx
  src/theme/global-css.ts
  src/theme/recipes/prose.ts
  src/ui/markdown/index.ts
  src/ui/markdown/md-checkbox.astro
  src/ui/markdown/md-figure-quote.astro
Due: format, linter

:sparkles: feat(theme,asset): add callout prose recipe and component
  .prettierignore
  bun.lock
  plugin/rehype/checkbox.ts
  src/asset/svg/arrow-up.svg
  src/asset/svg/bomb.svg
  src/asset/svg/external-link.svg
  src/asset/svg/hash.svg
  src/asset/svg/info.svg
  src/asset/svg/lightbulb.svg
  src/asset/svg/link.svg
  src/asset/svg/quote-double-close.svg
  src/asset/svg/quote-double-open.svg
  src/asset/svg/rocket.svg
  src/asset/svg/siren.svg
  src/assets/arrow-up.svg
  src/assets/astro.svg
  src/assets/background.svg
  src/assets/external-link.svg
  src/content/blog/my-go-to-css-pseudo-element-use-cases/index.mdx
  src/layout/post-detail-layout.astro
  src/theme/breakpoints.ts
  src/theme/recipes/prose.ts
  src/theme/tokens/assets.ts
  src/ui/Welcome.astro
  src/ui/markdown/md-callout.astro
  tsconfig.json
Due: format, linter

:sparkles: feat(theme,ui): build icon button recipe, update copy link button
  src/theme/recipes/icon.ts
  src/theme/recipes/prose.ts
  src/theme/slot-recipes/icon-button.ts
  src/theme/slot-recipes/index.ts
  src/ui/Welcome.astro
  src/ui/icon-button.astro
  src/ui/markdown/md-anchor-heading/copy-link-button.tsx
Due: format, linter

Update packageManager and bun version in package.json
  package.json
Due: none

Add build command to wrangler.jsonc
  wrangler.jsonc
Due: none

Remove build command from wrangler.jsonc
  wrangler.jsonc
Due: none

Update build script to use bun and panda
  package.json
Due: none

Update build script and prepare command in package.json
  package.json
Due: none

:rocket: deploy(github): add workflow deployment with cloudflare page
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/pages-deployment.yml
  package.json
Due: format

:sparkles: feat(theme,ui): setup head with fonts
  astro.config.mjs
  bun.lock
  package.json
  src/asset/image/thumbnail-placeholder.jpg
  src/layout/base-layout.astro
  src/layout/post-detail-layout.astro
  src/pages/index.astro
  src/pages/rss.xml.ts
  src/theme/global-css.ts
  src/theme/global-variables.ts
  src/theme/recipes/prose.ts
  src/theme/tokens/fonts.ts
  src/theme/tokens/lineHeights.ts
  src/ui/base-head.astro
Due: format, linter

:sparkles: feat(ui): build scroll progress bar for post detail layout
  biome.jsonc
  bun.lock
  src/layout/base-layout.astro
  src/layout/post-detail-layout.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/prose-demo.astro
  src/ui/Welcome.astro
  src/ui/base-head.astro
  src/ui/icon-button.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading-2.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading-3.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading-4.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading.astro
  src/ui/markdown/md-callout.astro
  src/ui/markdown/md-checkbox.astro
  src/ui/markdown/md-figure-quote.astro
  src/ui/markdown/md-text-link.astro
  src/ui/prose.astro
  src/ui/scroll-progress-bar.tsx
Due: format, linter

:sparkles: feat(ui): build scroll progress bar for post detail layout
  biome.jsonc
  bun.lock
  package.json
  src/layout/base-layout.astro
  src/layout/post-detail-layout.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/prose-demo.astro
  src/ui/Welcome.astro
  src/ui/base-head.astro
  src/ui/icon-button.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading-2.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading-3.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading-4.astro
  src/ui/markdown/md-anchor-heading/md-anchor-heading.astro
  src/ui/markdown/md-callout.astro
  src/ui/markdown/md-checkbox.astro
  src/ui/markdown/md-figure-quote.astro
  src/ui/markdown/md-text-link.astro
  src/ui/prose.astro
  src/ui/scroll-progress-bar/index.ts
  src/ui/scroll-progress-bar/scroll-progress-bar.tsx
  src/ui/scroll-progress-bar/use-scroll-progress-bar.ts
Due: format, linter

:recycle: refactor(ui): optimize and refactor back to top button
  bun.lock
  package.json
  src/ui/back-to-top-button/back-to-top-button.tsx
  src/ui/back-to-top-button/index.ts
  src/ui/back-to-top-button/use-back-to-top-button.ts
  src/ui/scroll-progress-bar/use-scroll-progress-bar.ts
Due: format, linter

🔧 chore(deps): update bun.lock after biome version bump
  bun.lock
Due: none

:sparkles: feat(plugin): add remark reading time and modified time
  astro.config.mjs
  biome.jsonc
  bun.lock
  package.json
  plugin/remark/index.ts
  plugin/remark/modified-time.ts
  plugin/remark/reading-time.ts
  src/layout/post-detail-layout.astro
  src/pages/blog/[...slug].astro
Due: format, linter

:sparkles: feat(remark,lib,layout): update remark plugins, add datetime lib
  astro.config.mjs
  plugin/remark/reading-time.ts
  src/layout/post-detail-layout.astro
  src/lib/datetime/constants.ts
  src/lib/datetime/format.ts
  src/lib/datetime/index.ts
  src/lib/datetime/types.ts
  src/pages/blog/[...slug].astro
  src/types/remark.ts
  tsconfig.json
Due: format, linter

:sparkles: feat(theme,ui): add tooltip recipe, update copy link url button
  panda.config.ts
  src/layout/base-layout.astro
  src/theme/slot-recipes/index.ts
  src/theme/slot-recipes/tooltip.ts
  src/theme/utilities.ts
  src/ui/markdown/md-anchor-heading/copy-link-button.tsx
  src/ui/tooltip.tsx
Due: format, linter

:sparkles: feat(ui,theme,assets): build theme selector ui and change theme behavior
  astro.config.mjs
  bun.lock
  package.json
  src/asset/svg/check.svg
  src/asset/svg/monitor-cog.svg
  src/asset/svg/moon.svg
  src/asset/svg/sun.svg
  src/layout/base-layout.astro
  src/theme/keyframes.ts
  src/theme/tokens/assets.ts
  src/theme/tokens/fonts.ts
  src/ui/Welcome.astro
  src/ui/base-head.astro
  src/ui/theme-selector/README.md
  src/ui/theme-selector/config.ts
  src/ui/theme-selector/index.ts
  src/ui/theme-selector/style.ts
  src/ui/theme-selector/theme-script.ts
  src/ui/theme-selector/theme-selector.tsx
  src/ui/theme-selector/use-theme.ts
Due: format, linter

:lipstick: style(ui,theme): add animation theme icon
  src/pages/demo/theme-icons.astro
  src/theme/global-css.ts
  src/theme/keyframes.ts
  src/ui/theme-selector/index.ts
  src/ui/theme-selector/theme-icon-demo.tsx
  src/ui/theme-selector/theme-selector.tsx
  src/ui/theme-selector/use-theme.ts
Due: format, linter

:lipstick: style(theme,ui): update theme selector style, theme panda
  panda.config.ts
  src/theme/animations.ts
  src/theme/keyframes.ts
  src/theme/tokens/animations.ts
  src/theme/tokens/durations.ts
  src/theme/tokens/index.ts
  src/ui/theme-selector/config.ts
  src/ui/theme-selector/style.ts
  src/ui/theme-selector/theme-icon-demo.tsx
  src/ui/theme-selector/theme-script.ts
  src/ui/theme-selector/theme-selector.tsx
  src/ui/theme-selector/use-theme.ts
Due: format, linter

:sparkles: feat(theme,ui): add breadcrumb recipe and build breadcrumb ui
  biome.jsonc
  src/asset/svg/chevron-right.svg
  src/asset/svg/slash.svg
  src/layout/base-layout.astro
  src/layout/post-detail-layout.astro
  src/theme/semantic-tokens/colors.ts
  src/theme/slot-recipes/breadcrumb.ts
  src/theme/slot-recipes/index.ts
  src/theme/tokens/assets.ts
  src/ui/Welcome.astro
  src/ui/breadcrumb.astro
Due: format, linter

:mag: perf(ui): improve performance with use visible task
  src/ui/scroll-progress-bar/use-scroll-progress-bar.ts
  src/ui/theme-selector/theme-selector.tsx
  src/ui/theme-selector/use-theme.ts
Due: format, linter

:sparkles: feat(ui,theme): add skeleton recipe
  src/theme/keyframes.ts
  src/theme/recipes/index.ts
  src/theme/recipes/skeleton.ts
  src/ui/theme-selector/style.ts
  src/ui/theme-selector/theme-selector.tsx
Due: format, linter

Path conditions:
  format: any of: **/*.{ts,tsx,js,jsx,json,md,astro,yml,yaml}
  linter: any of: **/*.{ts,tsx,js,jsx,astro}
